* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Ubuntu';
  font-size: inherit;
  font-weight: 400;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.container {
  width: 1070px;
  margin: 0 auto;
}

/* HEAD container */
.header-conteiner {
  background: rgba(77, 189, 254, 1);
  background: -moz-linear-gradient(-45deg, rgba(77, 189, 254, 1) 0%, rgba(62, 160, 230, 1) 100%);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(77, 189, 254, 1)),
    color-stop(100%, rgba(62, 160, 230, 1))
  );
  background: -webkit-linear-gradient(-45deg, rgba(77, 189, 254, 1) 0%, rgba(62, 160, 230, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(77, 189, 254, 1) 0%, rgba(62, 160, 230, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(77, 189, 254, 1) 0%, rgba(62, 160, 230, 1) 100%);
  background: linear-gradient(135deg, rgba(77, 189, 254, 1) 0%, rgba(62, 160, 230, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3ea0e6', GradientType=1 );
  padding-top: 20px;
  padding-bottom: 145px;
  color: #fff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
}

.header-burger {
  display: none;
}

.main-nav-items {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

.main-menu-item {
  margin-left: 15px;
}

.main-menu-item a {
  color: #fff;
}

.main-menu-item a:hover {
  border-bottom: 1px solid;
  padding-bottom: 7px;
}

p {
  line-height: 1.8em;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-section, .box-content {
  display: flex;
  margin-top: 30px;
}

.description {
  margin-top: 50px;
  width: 570px;
}

.description-head-p {
  font-size: 37px;
  font-weight: 700;
  line-height: 1.4em;
  font-family: 'Ubuntu';
}

.title-book {
  font-size: 45px;
  color: #ffd429;
}

.description-intro {
  font-size: 16px;
  margin-top: 45px;
}

.btn {
  font-family: 'Montserrat';
  font-weight: 900;
  background: #ffd429;
  color: #2e2a1b;
  display: block;
  width: 220px;
  padding: 19px 0;
  text-align: center;
  margin-top: 40px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #d6b223;
}

.desctop {
  width: 400px;
}

/* MAIN container */
.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.introduction {
  padding-top: 70px;
  padding-bottom: 70px;
}

.introduction-img {
  width: 250px;
  margin-right: 50px;
  margin-top: 15px;
}

.introduction-img2 {
  width: 300px;
  margin-left: 50px;
  margin-top: 65px;
}

.introduction-text2 {
  margin-top: 50px;
}

.btn-introduction {
  font-family: 'Montserrat';
  font-weight: 900;
  background: #ffd429;
  color: #2e2a1b;
  display: block;
  width: 220px;
  padding: 19px 0;
  text-align: center;
  transition: all 0.5s ease;
  margin: 0 auto;
  margin-top: 60px;
}

.btn-introduction:hover {
  background: #d6b223;
}

.procrastination {
  background: #ecf3f8;
  padding-top: 70px;
  padding-bottom: 70px;
}

.procrastination-item {
  text-align: center;
  width: 300px;
}

.procrastination-item img {
  margin-bottom: 35px;
  height: 70px;
}

.procrastination-item h3 {
  margin-bottom: 15px;
}

.xmind {
  padding-top: 70px;
  padding-bottom: 70px;
}

.xmind-list {
  margin-top: 50px;
  text-align: center;
}

.xmind2 {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../img/bg.png);
  background-size: cover;
}

.video {
  margin-top: 50px;
  margin: 0 auto;
  width: 570px;
}
.section {
  width: 100%;
  height: 130vh;
  padding: 70px 0;
  background: url(../img/bg1.jpg) no-repeat center top;
  background-size: cover;
}

.recommendation {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #ecf3f8;
}

.section-subtitle
.box__subtitle {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  text-align: leftr;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.img-flex,
.box__img {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.list-item
.box__item{
  list-style: circle;
  margin-bottom: 7px;
  margin-left: 15px;
}
.recommendation-sublist > li {
  margin-left: 50px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #164d7a;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .description {
    margin-top: 100px;
  }
  .desctop {
    margin-top: 30px;
  }
  .header-conteiner {
    padding-bottom: 125px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
    text-align: center;
  }
  .wrapper {
    flex-direction: column;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    display: block;
    width: 30%;
    margin: 0 auto 0;
  }

  .main-nav-items {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .description {
    width: 100%;
    margin-top: 75px;
  }

  .intro {
    width: auto;
  }

  .desctop {
    display: block;
    width: 60%;
    margin: 0 auto 0;
  }
  .procrastination-item {
    width: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .header {
    padding-bottom: 50px;
  }
  .btn {
    margin: 50px auto;
  }
  .section-title {
    margin-bottom: 40px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .desktop {
    width: 100%;
  }
  .btn {
    width: 80%;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .title h1 {
    font-size: 26px;
  }
  .title h1 span {
    font-size: 49px;
  }
  .section-title {
    font-size: 26px;
  }
  .btn-form {
    width: 100%;
  }
}
